[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/snipmate-snippets"]
	path = .vim/bundle/snipmate-snippets
	url = git://github.com/honza/snipmate-snippets.git
[submodule ".vim/bundle/tagbar"]
	path = .vim/bundle/tagbar
	url = git://github.com/majutsushi/tagbar.git
[submodule ".vim/bundle/vim-php-refactor"]
	path = .vim/bundle/vim-php-refactor
	url = git://github.com/beberlei/vim-php-refactor.git
[submodule ".vim/bundle/vim-commaobject"]
	path = .vim/bundle/vim-commaobject
	url = git://github.com/austintaylor/vim-commaobject.git
[submodule ".vim/bundle/vim-addon-mw-utils"]
	path = .vim/bundle/vim-addon-mw-utils
	url = git://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule ".vim/bundle/tlib_vim"]
	path = .vim/bundle/tlib_vim
	url = git://github.com/tomtom/tlib_vim.git
[submodule ".vim/bundle/vim-snipmate"]
	path = .vim/bundle/vim-snipmate
	url = git://github.com/garbas/vim-snipmate.git
[submodule ".vim/bundle/xmledit"]
	path = .vim/bundle/xmledit
	url = git://github.com/sukima/xmledit.git
[submodule ".vim/resources/phpm"]
	path = .vim/resources/phpm
	url = git://github.com/jimktrains/phpm.git
