[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/snipmate-snippets"]
	path = .vim/bundle/snipmate-snippets
	url = git://github.com/honza/snipmate-snippets.git
[submodule ".vim/bundle/tagbar"]
	path = .vim/bundle/tagbar
	url = git://github.com/majutsushi/tagbar.git
[submodule ".vim/bundle/vim-php-refactor"]
	path = .vim/bundle/vim-php-refactor
	url = git://github.com/beberlei/vim-php-refactor.git
[submodule ".vim/bundle/vim-commaobject"]
	path = .vim/bundle/vim-commaobject
	url = git://github.com/austintaylor/vim-commaobject.git
[submodule ".vim/bundle/vim-addon-mw-utils"]
	path = .vim/bundle/vim-addon-mw-utils
	url = git://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule ".vim/bundle/tlib_vim"]
	path = .vim/bundle/tlib_vim
	url = git://github.com/tomtom/tlib_vim.git
[submodule ".vim/bundle/vim-snipmate"]
	path = .vim/bundle/vim-snipmate
	url = git://github.com/garbas/vim-snipmate.git
[submodule ".vim/bundle/xmledit"]
	path = .vim/bundle/xmledit
	url = git://github.com/sukima/xmledit.git
[submodule ".vim/resources/phpm"]
	path = .vim/resources/phpm
	url = git://github.com/jimktrains/phpm.git
[submodule ".vim/bundle/nerdcommenter"]
	path = .vim/bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule ".vim/bundle/vim-powerline"]
	path = .vim/bundle/vim-powerline
	url = git://github.com/Lokaltog/vim-powerline
[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = git://github.com/tpope/vim-surround
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive
[submodule ".vim/bundle/vim-phpunit"]
	path = .vim/bundle/vim-phpunit
	url = git://github.com/docteurklein/vim-phpunit
[submodule ".vim/bundle/vim-phpdoc"]
	path = .vim/bundle/vim-phpdoc
	url = git://github.com/stephpy/vim-phpdoc
